@import "src/theme/mixins/screen-size.scss";
@import "~theme/theme-variables";

.user-card {
  border: 0;
  position: relative;

  & + .event-card {
    margin-top: 25px;
  }

  .header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 1rem;
    background: #f7f7f7;
    position: relative;

    .title {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 0;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .edit-button {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .delete-button {
      position: absolute;
      right: 10px;
      top: 55px;
    }
  }

  .logo {
    right: 10px;
    position: absolute;
    top: 18px;

    .logo-circle {
      height: auto;
      width: 90px;
    }
  }

  .description {
    margin-top: 0;
    padding: 35px;
    white-space: pre-wrap;
  }
}

.reserve-card {
  margin-top: 10px;
  padding: 13px;
  background-color: #f7f7f7;
  color: #7d0a27;
  border-radius: 3px;

  &.ongoing {
    background-color: #bd12121c;
    color: #7d0a27;
  }

  .date-time {
    margin-bottom: 5px;

    .dash {
      margin: 0 5px;
    }

    @include for-lt-md {
      .time {
        font-size: 15px;
      }

      .fa {
        font-size: 14px;
      }
    }
  }
}

.status-green {
  color: $status-available;
}

.status-yellow {
  color: $status-away;
}

.status-red {
  color: $status-busy;
}

.status-grey {
  color: $status-unknown;
}

.status-purple {
  color: $status-outofoffice;
}
