<div class="content-container container-fluid p-3">
<h1 class="text-center my-4">Éttermek</h1>

<div class="jumbotron bg-light py-4">
  <ngb-tabset>
    <ngb-tab title="Ericsson">
        <ng-template ngbTabContent>
          <div class="menu-wrapper d-flex">
            <div class="w-20 ericsson-menu-day" [class.today]="i === today - 1" *ngFor="let nap of ericssonMenu.days; let i = index">
              <h4 class="day-title">{{nap.day}}</h4>
              <div *ngFor="let row of nap.rows">
                <div>{{row.item1}} <br> <strong>{{row.item2}}</strong></div>
                <br><br>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    <ngb-tab title="Infopark A Épület Étterem">
      <ng-template ngbTabContent>
        <div class="menu-wrapper">
          <div>
            <iframe id="infopark_A" class="iframe-infopark-a" src="/api/etterem/aetterem"></iframe>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Double Delight">
      <ng-template ngbTabContent>
        <div class="menu-wrapper">
          <div class="dd-etterem-menu">{{doubleDelightMenu.content}}</div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Just Cantine">
      <ng-template ngbTabContent>
        <div class="menu-wrapper">
          <div class="dd-etterem-menu">{{justCantineMenu.content}}</div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>
