@import "src/theme/theme-variables";

.table-container {
  border-radius: $border-radius;
  overflow: hidden;
  .mat-table {
    width: 100%;
    .mat-header-cell,
    .mat-cell,
    .mat-footer-cell {
      border-bottom-color: $table-border-color;
    }
    .mat-header-cell {
      font-size: 1.1rem;
      font-weight: bold;
      color: $color-primary;
    }
    .mat-row {
      // background: none;
      &:hover {
        background-color: $table-bg-hover;
      }
      &.error {
        background-color: lighten(theme-color("danger"), 25%);
        &:hover {
          background-color: lighten(theme-color("danger"), 20%);
        }
      }
      .mat-cell {
        &.disabled {
          background-color: lighten(gray, 40%);
          color: grey;
        }
      }
    }
    &.table-controls {
      th:last-child,
      td:last-child {
        text-align: right;
      }
    }
  }
}

.mat-select-panel {
  box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
  border-radius: 5px !important; /* stylelint-disable-line declaration-no-important */
  border-width: 1px;
  border-style: solid;
  border-color: $table-border-color;
}
