.tickets-wrapper {
  .ticket-card {
    border: 0;
    position: relative;

    & + .ticket-card {
      margin-top: 25px;
    }

    .header {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      height: 135px;
      padding: 1rem;
      text-align: center;
      background: #f7f7f7;
      position: relative;

      .title {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      .edit-button {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .delete-button {
        position: absolute;
        right: 10px;
        top: 55px;
      }
    }

    .logo {
      left: 50%;
      margin-left: -45px;
      position: absolute;
      top: 90px;

      .logo-circle {
        height: auto;
        width: 90px;
      }
    }

    .description {
      margin-top: 0;
      padding: 60px 35px 35px 35px;
      white-space: pre-wrap;
    }
  }

  .add-button {
    position: absolute;
    background: #33335d;
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18px;
    top: -2px;
    right: 0;
  }
}
