<div class="container-fluid">
  <div class="">
    <div class="loader" *ngIf="!roomLabel"></div>

    <ng-container *ngIf="roomLabel">
      <h1>{{roomLabel}} szoba</h1>
      <hr>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2" *ngFor="let user of localUsers">
          
          <div class="user user-card" >
            <div class="header">
              <h3 class="title">{{user.name}}</h3>
                </div>
                <div class="logo">
                  <img *ngIf="user.picture" class="logo-circle clip-hexagon" src="data:image/png;base64,{{user.picture}}">
                </div>
                <div class="card-footer description">
                  <div class="row">
                    <div class="col-sm-3 border-right">
                      <div class="description-block text-center">
                        <a href="javascript:void()"><h6 class="description-header"><i class="fa fa-briefcase"></i></h6></a>
                        <a href="javascript:void()"><span class="description-text">{{user.officeLocation}}</span></a>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="description-block text-center">
                        <a href="mailto:{{user.email}}"><h6 class="description-header"><i class="fa fa-envelope"></i></h6></a>
                        <a href="mailto:{{user.email}}"><span class="description-text">{{user.email}}</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>

    </ng-container>
  </div>
</div>



