<div class="content-container p-3">
  <div class="px-5">
    <h1 class="text-center my-4">{{(eventId) ? 'Esemény módosítása' : 'Új esemény'}}</h1>

    <div class="user-data jumbotron bg-light py-4">
      <form [formGroup]="eventForm">
        <div class="form-row">
          <div class="col-12 form-group">
            <label for="title">Név</label>
            <input formControlName="title" id="title" type="text" class="form-control" placeholder="Név" />
          </div>
        </div>

        <div class="form-row">
          <div class="col-8 form-group">
            <label for="datepicker">Időpont</label>
            <div class="input-group">
              <input [matDatepicker]="datepicker" formControlName="date" id="date" type="text" class="form-control" placeholder="Időpont" />
              <mat-datepicker #datepicker></mat-datepicker>
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="datepicker.open()"><i class="fas fa-calendar text-white"></i></button>
              </div>
            </div>
          </div>
          <div class="col-2 form-group">
            <label for="datepicker">Óra</label>
            <ng-select
              class=""
              formControlName="hour"
              id="hour"
              [items]="hours"
              [clearable]="false"
              [searchable]="true"
              placeholder="Óra"
              bindLabel="label"
              bindValue="value">
            </ng-select>
          </div>
          <div class="col-2 form-group">
            <label for="datepicker">Perc</label>
            <ng-select
              class=""
              formControlName="minute"
              id="minute"
              [items]="minutes"
              [clearable]="false"
              [searchable]="true"
              placeholder="Perc"
              bindLabel="label"
              bindValue="value">
            </ng-select>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12 form-group">
            <label for="title">Leírás</label>
            <!-- <input formControlName="description" id="description" type="text" class="form-control" placeholder="Leírás" /> -->
            <textarea class="form-control no-resize" placeholder="Leírás" id="description" [rows]="5"
              formControlName="description" [readOnly]="false"></textarea>
          </div>
        </div>

        <div class="form-row form-controls">
          <div class="col-12 form-group text-right">
            <button type="button" class="btn btn-success btn-fw mr-3" (click)="save()">
              <i class="fas fa-save"></i> Mentés
            </button>
            <button type="button" class="btn btn-danger btn-fw" routerLink="/events">
              <i class="fas fa-times-circle"></i> Mégse
            </button>
          </div>
        </div>
      </form>
      </div>
  </div>
</div>
