<div class="content-container container-fluid p-3">
  <h1 class="text-center my-4">Linkgyűjtemény</h1>

  <div class="jumbotron bg-light py-1">
    <ul class="products-list row">
      <li class="item-wrapper col-xl-3 col-lg-6 col-md-12" *ngFor="let item of links">
        <div class="item d-flex" (click)="openLink(item)">
          <div class="item-img text-white " [class.bg-primary]="item.icon">
            <i *ngIf="item.icon" [className]="item.icon"></i>
            <img *ngIf="item.imgSrc" [src]="item.imgSrc" />
          </div>
          <div class="item-info">
            <span class="item-title">{{item.name}}</span>
            <a class="item-url">{{item.url}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
