<!-- <p>home works!</p>
<span *ngIf="version">version: {{ version }}</span> -->
<div class="w-100 h-100 d-flex flex-column justify-content-center home-tabs">
  <mat-tab-group class="flex-grow-1" headerPosition="below" animationDuration="400ms" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-fw fa-home"></i>
      </ng-template>
      <app-map></app-map>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-fw fa-medal"></i>
      </ng-template>
      Medals
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-fw fa-user"></i>
      </ng-template>
      Profile
    </mat-tab>
  </mat-tab-group>
</div>
