@import "~bootstrap/scss/bootstrap-grid";

@include media-breakpoint-up(lg) {
  .right-panel {
    transition: 0.25s all;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }
}

.icon {
  font-size: 25px
}

.cont {
  padding: 0px 47px;
  overflow-y: scroll;
  overflow-x: hidden;
  // margin-top: 47px;
  // margin-bottom: 47px;
  top: 0px;
  height: calc(100vh - 95px);
  // position: fixed;
  transform: none;
  width: 100vw;
  text-align: center;
}