<!-- <p>home works!</p>
<span *ngIf="version">version: {{ version }}</span> -->
<div class="w-100 h-100 d-flex flex-column justify-content-center home-tabs" style="overflow:hidden">
  <mat-tab-group [(selectedIndex)]="selectedIndex" class="flex-grow-1" headerPosition="below" animationDuration="400ms" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <i class="fas fa-fw fa-home icon"></i> -->
        <img [ngStyle]="{'filter': 'grayscale('+ (selectedIndex == 0 ? 0 : 1) +')'}" src="assets/house.svg" style="width: 35px; height: 35px;">
      </ng-template>
      <app-map></app-map>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <i class="fas fa-fw fa-medal icon"></i> -->
        <!-- {{selectedIndex}} -->
        <img [ngStyle]="{'filter': 'grayscale('+ (selectedIndex == 1 ? 0 : 1) +')'}" src="assets/gold-medal-svgrepo-com.svg" style="width: 35px; height: 35px;">
      </ng-template>

      <div class="cont">
        <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px;">
          <div>
            <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
            <div class="col-12">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
          </div>
        </mat-card>
        
        <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px;">
          <div>
            <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
            <div class="col-12">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
          </div>
        </mat-card>

        <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px; margin-bottom: 10px;">
          <div>
            <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px;">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: ale(100%);">
            </div>
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>          
            <div class="col-6">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
            <div class="col-12">
              <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <i class="fas fa-fw fa-user icon"></i> -->
        <img [ngStyle]="{'filter': 'grayscale('+ (selectedIndex == 2 ? 0 : 1) +')'}" src="assets/profile.svg" style="width: 35px; height: 35px;">
      </ng-template>
      Profile
    </mat-tab>
  </mat-tab-group>
</div>
