/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/scss/default.theme";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~ngx-toastr/toastr-bs4-alert";

// Theme customization
@import "theme/material-theme";
@import "theme/theme";

.cdk-global-scrollblock {
  overflow: hidden;

  body {
    overflow-y: hidden;
  }
}

.mat-tab-body-wrapper {
  top: 47px;
  width: 100%;
  position: fixed !important;
}

.text-gray {
  color: $gray-600;
}

.home-tabs .mat-tab-body-wrapper {
  flex-grow: 1;
}

.ng-dropdown-panel {
  z-index: 3000 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-tab-label-container {
  background-color: #fafafa;
  overflow: hidden !important;
  z-index: 10000000 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mat-ink-bar {
  height: 3px !important;
  width: 100% !important;
  left: 0 !important;
  // width: 5000px !important;
  // margin-left: -2500px !important;
  opacity: 0.7;
}

.mat-tab-label {
  opacity: 1 !important;
  // filter: grayscale(100%);
}

.mat-tab-label:focus {
  // filter: grayscale(0%);
  opacity: 1 !important;
}
