<div class="cont px-3">

  <h3 class="text-left my-3"><strong>Mi van a táskában?</strong></h3>

  <div class="d-flex justify-content-center py-3">
    <img src="assets/raccoon_bag.png" />
  </div>

  <app-div-text>barter kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.barter">
      <img src="assets/ages/cow.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <app-div-text>árupénz kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.shell">
      <img src="assets/ages/shell.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <app-div-text>vert érme kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.coin">
      <img src="assets/ages/coin.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <app-div-text>papír pénz kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.paper">
      <img src="assets/ages/paper.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <app-div-text>virtuális pénz kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.plastic">
      <img src="assets/ages/plastic.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <app-div-text>Kriptopénz kor</app-div-text>

  <div class="d-flex justify-content-center">
    <app-radial-progress [progress]="progresses.crypto">
      <img src="assets/ages/crypto.png" style="width: 150px; border-radius: 50%;">
    </app-radial-progress>
  </div>

  <div class="d-flex justify-content-center">
      <img src="assets/coin-three.png" style="width: 100%;">
  </div>

  <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px;">
    <div>
      <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-12">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
    </div>
  </mat-card>

  <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px;">
    <div>
      <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-12">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
    </div>
  </mat-card>

  <mat-card style="padding: 15px 40px; width: 100%; margin-top: 65px; margin-bottom: 10px;">
    <div>
      <img src="assets/bag.png" style="width: 100px; height: 100px; margin-top: -60px; background-color: white; border: 3px solid gray; border-radius: 69px;">
    </div>
    <div class="row">
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: ale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-6">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
      <div class="col-12">
        <img src="assets/coin.png" style="width: 80px; height: 80px; filter: grayscale(100%);">
      </div>
    </div>
  </mat-card>
</div>
